<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
    
    .bg {
  /* The image used */
  background-image: url("flower-4985011_1920.png");

  /* Full height */
  height:60%;


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
</style>
<body>
    <!-- Second navbar for categories -->
    <nav class="navbar navbar-default">
      <div class="container"></div>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Platinum Gallery</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/home">Home</a></li>
            <li><a href="/workspace">Workspace</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Logout</a></li>
            
            
          </ul>
          
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
    
    <div class="bg">
        
        
          <div class="container-fluid padding">
            <div class="row welcome text-center">
              
            
              <div class="col-12">
                <div class="lead"style="font-size:30px;color:black;margin-top:150px;">
                  Your own personalized art gallery.
                </div>
              </div>
              </div>
            
          </div>
          
      
      
      </div>

</body>